html {
    scroll-behavior: smooth;
  }

:root {
    --gradiente-radial: radial-gradient(231.91% 386.07% at 284.21% 199.77%, #010000 0%, rgba(31, 9, 9, 0.00) 100%);
    --Cor-chapada-boto: #D45278;
    --drop-shadow: #F0EFEA
}

body{
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

main {
    overflow: hidden;
}

.menu {
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .menu-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    max-width: 900px;
    height: 60px;
    border-radius: 23.125px;
    border-radius: 23.125px;
    background: #3C3333;
    box-shadow: 0px 5px 5px 0px rgba(66, 42, 42, 0.50);
    .space-transforming {
        padding-left: 5%;
        padding-right: 5%;
    }

    .sobre {
        padding-left: 5%;
    }

    .link-menu {
        color: #F0EFEA;
        font-family: Lato;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.3px;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
    }
}


    .link-menu:hover {
        color: #FF9AB8;
    }
}

.Hero {
    background-image: url('../../uploads/2023/11/CAPA.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    .section-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 900px;
        width: 100%;
        .h1-section-hero{
            color: #F0EFEA;
            /* H1/Bold */
            font-family: Cinzel;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 69.5px; /* 144.792% */
            letter-spacing: 14.88px;
            text-transform: uppercase;
            margin: 0!important;
            padding: 0!important;
        }
        .p-sectionHero{
            color: #FFF;
            text-align: center;
            
            /* H3/Medium */
            font-family: Raleway;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 27.6px; /* 125.455% */
            letter-spacing: 1.1px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        .seta-section-hero {
            width: 68.516px;
            height: 59px;
        }
    }
}




@media (max-width: 900px) {

    #hero{
        background-position: right;
    }
    .h1-section-hero {
        color: #F0EFEA!important;
        text-align: center!important;
        font-family: Cinzel!important;
        font-size: 30px!important;
        font-style: normal!important;
        font-weight: 700!important;
        line-height: 37px!important; /* 123.333% */
        letter-spacing: 9.3px!important;
        text-transform: uppercase!important;
    }

    .p-sectionHero {
        color: #FFF!important;
        text-align: center!important;
        font-family: Raleway!important;
        font-size: 14px!important;
        font-style: normal!important;
        font-weight: 500!important;
        line-height: 16px!important; /* 114.286% */
        letter-spacing: 0.7px!important;
    }
}